/**
 * General code.
 */
.gallery-tiler .field-items {
  display: grid;
}
.gallery-tiler img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}
.gallery-tiler .field-item {
  overflow: hidden;
}
.gallery-tiler .field-items {
  grid-template-columns: repeat(2, 1fr);
  /* Use our CSS variable. */
  grid-auto-rows: var(--height, 180px);
  gap: var(--gap, 0);
}
/* Fallback to flex for some older browsers. */
@supports not (display: grid) {
  .gallery-tiler .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-tiler .field-item {
    width: 49%;
    margin-bottom: 2%;
    height: 180px;
  }
  @media (min-width: 769px) {
    .gallery-tiler .field-item {
      width: 32%;
      margin-bottom: 2%;
      height: 260px;
    }
  }
}
